*{
    padding: 0;
    margin: 0;
}
html{
    height: 100%;
    background-repeat: no-repeat;
    overflow: hidden; 

}


 body {
    height: 100%;
    overflow: hidden; 
 }

  .pages-container {
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
      scrollbar-width: none; /* 隐藏滚动条 */

  }

  .page {
    height: 100vh;
    width: 100%;
    overflow: hidden;
  }

.page.home {
    position: relative;
    overflow: hidden;
}

/* 首页轮播图样式 */
.home-carousel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    z-index: 1;
    /* 确保轮播图可以接收鼠标事件 */
    pointer-events: auto;
}

.home-carousel-view {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.home-carousel-list {
    display: flex;
    height: 100%;
    transition: transform 0.8s ease-in-out;
    list-style: none;
    padding: 0;
    margin: 0;
}

.home-carousel-list li {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.home-carousel-list li a {
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    /* 确保链接可以接收鼠标事件 */
    pointer-events: auto;
}

.home-carousel-list li img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

/* 首页轮播图进度条 */
.page.home .home-carousel-progress {
    position: absolute;
    bottom: 50px;
    right: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    list-style: none;
    padding: 12px 8px;
    margin: 0;
    z-index: 1001;
    /* 确保可以接收鼠标事件 */
    pointer-events: auto;
}

.home-carousel-progress-item {
    width: 40px;
    height: 6px;
    background-color: rgba(255, 255, 255, 0.6);
    overflow: hidden;
    flex-shrink: 0;
    cursor: pointer;
    position: relative;
    /* 确保可以接收鼠标事件 */
    pointer-events: auto;
}

.home-carousel-progress-item:hover{
    cursor: pointer;
}

.home-carousel-progress-bar {
    width: 0%;
    height: 100%;
    background-color: rgb(0, 128, 0);
    transition: width linear;
    /* 确保进度条本身不影响点击 */
    pointer-events: none;
}

.page.next{
    overflow-y: auto;
}

body::-webkit-scrollbar {
  display: none; /* 隐藏滚动条 */
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}


.header{
    position: relative;
    height: 1684px;
    width: 100%;
    /* background-color: pink; */
    z-index: 100;
    /* 让 header 不拦截鼠标事件，但保留导航栏的点击 */
    pointer-events: none;

}


    @keyframes bounceUp {
      0% { transform: translateY(0); }
      30% { transform: translateY(-32px); } 
      100% { transform: translateY(0); } 
    }

        .nav.animate {
      /* animation: bounceUp 1s ease forwards; */
        animation: bounceUp 1s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;

    }






.header .nav{
    position: fixed;
    top: 0;
    height: 92px;
    width: 100%;
    /* background-image: url(../img/head-cover.png); */
    transition: all 0.3s ease;
    /* 导航栏需要可以接收鼠标事件，并确保在轮播图之上 */
    pointer-events: auto;
    z-index: 8888;

}

.header .nav::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/head-cover.png);
    transform: scaleY(-1); 
    z-index: -1; 
}

.header .nav.hide-bg::before {
  display: none; 
  /* 或用 opacity: 0;  */
}

.header .top{
    height: 32px;
}
.header .top a{
    color: white;

}

.header .bottom{
    height: 60px;
    /* background-color: lightblue; */
}

.header img{
    height: 60px;
}
.header .bottom .total{
    height: 60px;
    display: flex;
    margin: 0 207px;
    justify-content: space-between;
}


/* .header .left a{
    height: 60px;
} */
.header .right{
    display: flex;
    height: 32px;
}
.header .right ul{
    display: flex;
}
.header .right ul li{
    /* width: 100px; */
    /* line-height: 60px; */
    /* background-color: #fff; */
    text-align: center;
    
}

/* .head-cover{
    position: absolute;
    width: 100%;
    height: 200px;
    top: 0;
    left: 0;
} */
/* .head-cover{
    position: absolute; 
    background-image: url(../img/head-cover.png);
    width: 100%;
    height: 95px;
    top: 0;
    left: 0;
    z-index: 0; 
    transform: scaleY(-1);
} */




.nav .top ul{
    display: flex;
    margin-right: 207px;

}

.nav .top {
    display: flex;
    justify-content: flex-end;
}
.nav .top .left{
    display: flex;
    justify-content: flex-end;
}
.nav .top ul{
    align-items: center;
    /* padding: 0 0 0 207px; */
}
.nav .top  ul li{
    margin-right: 12px;
}

.nav .top .right ul li :first-child
{
    border-left:1px solid #000;
    padding-left: 15px;

}
.nav .top .right ul li :last-child{

    border-right:1px solid #000;
    padding-right: 15px;

}

.nav .bottom .right{
    display: flex;
    height: 60px;
    align-items: center;
}


/* .nav .bottom .right .outmenu{
    background-color: pink;

} */


.nav .bottom .right .outmenu li{
    /* display: flex; */
    /* padding-top: 20px; */
    min-width: 120px;
    height: 60px;
    position: relative;
    align-content: center;

}

.nav .bottom .right .outmenu li:hover .submenu{
    display: block;
}

/* 给i元素添加inline-block，确保transform生效 */
.nav .bottom .right .outmenu li a i {
  display: inline-block; /* 关键：让i元素能承载旋转 */
  transition: all 0.3s; /* 过渡效果 */
  vertical-align: middle; /* 可选：让图标与文字对齐 */
}

/* hover时触发旋转 */
.nav .bottom .right .outmenu li:hover a i {
  transform: rotate(180deg); /* 旋转180度 */
}
.nav .bottom .right .submenu{
    position: absolute;
    width: 100%;
    height: 40px;
    top: 40px;
    left: 0;
    display: block;
    margin-top: 20px;
    display: none;
    border-top: 2.5px solid rgb(0,88,38);
}
.nav .bottom .right .submenu li{
    width: 100%;
    height: 35px;
    text-align: center;
    margin: 0;
    line-height: 35px;
    background-color: white;

}
.nav .bottom .right .submenu li:last-child{

        padding-bottom: 15px;

}

.nav .bottom .right  .outmenu a
{
    margin: 0;
    color: white;
}
.nav .bottom .right  .submenu a{
    color: green;
    line-height: 40px;
}



