*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
}
li{
    list-style: none;
}
.header{
    position: relative;
    height: 1684px;
    width: 100%;
    background-color: pink;
}
.header .nav{
    position: fixed;
    /* position: absolute; */
    top: 0;
    height: 92px;
    width: 100%;
}
.header .top{
    height: 32px;
    background-color: green;
}

.header .bottom{
    height: 60px;
    background-color: lightblue;
}

.header img{
    height: 60px;
}
.header .bottom .total{
    height: 60px;
    display: flex;
    margin: 0 207px;
    justify-content: space-between;
}


/* .header .left a{
    height: 60px;
} */
.header .right{
    display: flex;
    height: 32px;
}
.header .right ul{
    display: flex;
}
.header .right ul li{
    /* width: 100px; */
    /* line-height: 60px; */
    /* background-color: #fff; */
    text-align: center;
    
}




.nav .top ul{
    display: flex;
    margin-right: 207px;

}

.nav .top {
    display: flex;
    justify-content: flex-end;
}
.nav .top .left{
    display: flex;
    justify-content: flex-end;
}
.nav .top ul{
    align-items: center;
    /* padding: 0 0 0 207px; */
}
.nav .top  ul li{
    margin-right: 12px;
}

.nav .top .right ul li :first-child
{
    border-left:1px solid #000;
    padding-left: 15px;

}
.nav .top .right ul li :last-child{

    border-right:1px solid #000;
    padding-right: 15px;

}
.nav .bottom ul{
    /* display: flex;
    align-items: center; */
    /* align-items: center; */
}

.nav .bottom .right{
    display: flex;
    height: 60px;
    align-items: center;
}

.nav .bottom .right .outmenu li{
    /* display: flex; */
    margin-left: 30px;
    margin-bottom: 20px;
    position: relative;
}

.nav .bottom .right .submenu{
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    display: block;
    margin-top: 20px;
}
.nav .bottom .right .submenu li{
    width: 100%;
    height: 40px;
    text-align: center;
    margin: 0;


}
.nav .bottom .right .submenu li a{
    margin: 0;
}

