*{
    padding: 0;
    margin: 0;
}
.b-wrapper{
    margin: 0 auto; 
    width: 1028px;

}

.news-shadow {
  position: relative;
  overflow: hidden; /* 避免伪元素超出容器 */
}

.news-shadow::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/news-bgi.png);
  /* background-size: cover; */
  /* transform: scaleY(-1);  */
  z-index: -1; /* 确保背景在内容下方 */
}

.news {
   height: 750px; 
   padding: 114px 0 50px;
}

.news .title{

    /* margin: 0 0 36px; */
    display: flex;
    justify-content: space-between;
    height: 45px;
    margin: 10px 0 36px 0;
}


.news .title{
    /* margin: 0 0 36px; */
    display: flex;
    justify-content: space-between;
    height: 45px;
    margin-bottom: 36px;
}
.news .title  h3{
    color: #005826;
    font-size: 34px;
}
.news .title .right {
    width: 68px;
    height: 45px;
}
.news .title .right a{
    height: 18px;
    font-size: 11.5px;
    line-height: 45px;
    color: #888;

    
}

.news .items{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;

}

.news .left {
    height: 356px;
    width: 566px;

}
.news .left img{
    width: 566px;
    height: 355px;
}

.news .right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.news .right .txt {
    width: 432px;
    height: 256px;
    margin-left: 20px;
}
.news .right .txt p:first-of-type {
    font-size: 12px;
    color: #005826;
    margin-bottom: 12px;
}
.news .right .txt h3 {
    font-size: 20px;
    color: #333;
    margin-bottom: 16px;
    line-height: 1.5;
    transition: color 0.3s ease;
}
.news .right .txt p:last-of-type {
    font-size: 14px;
    color: #666;
    line-height: 1.8;
    transition: color 0.3s ease;
}
#news-main-image {
    transition: opacity 0.3s ease;
}

/* 新闻导航按钮和页码样式 */
.news-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 20px;
    margin-top: 20px;
}

.news-nav-buttons {
    display: flex;
    gap: 10px;
}

.news-nav-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #005826;
    background-color: #fff;
    color: #005826;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    padding: 0;
    outline: none;
}

.news-nav-btn i {
    font-size: 16px;
    color: #005826;
    transition: color 0.3s ease;
}

.news-nav-btn:hover {
    background-color: #005826;
}

.news-nav-btn:hover i {
    color: #fff;
}

.news-nav-page {
    font-size: 18px;
    color: #888;
    display: flex;
    align-items: baseline;
}

.news-page-current {
    color: #005826;
    font-weight: bold;
    font-size: 24px;
    margin-right: 4px;
}

.news-page-total {
    color: #888;
    font-size: 18px;
}

.news ul{
    display: flex;
    justify-content: space-between;
    gap: 20px;

}
.news ul li{
    display: flex;
    width: 345px;
    height: 110px;
    cursor: pointer;
    transition: all 0.8s;
    -webkit-transition: all 0.8s;
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    overflow: hidden;
}
.news ul li img{
    width: 151px;
    height: 95px;
    object-fit: cover;
}
.news ul li .txt{
    width: 186px;
    height: 95px;
    padding: 8px 10px;
}
.news ul li .txt .news-date{
    font-size: 11px;
    color: #888;
    margin-bottom: 8px;
}
.news ul li .txt h4{
    font-size: 13px;
    color: #333;
    line-height: 1.4;
    font-weight: normal;
}

/* 悬停和激活状态的样式 */
.news ul li:hover{
    transform: translateY(-8px);
    box-shadow: 3px 35px 77px -8px rgb(0 0 0 / 90%);
    z-index: 10;
}

/* 激活状态：上移、阴影 + 放大 */
.news ul li.active{
    transform: translateY(-8px) scale(1.05);
    box-shadow: 3px 35px 77px -8px rgb(0 0 0 / 90%);
    z-index: 10;
}

.news-ul{
    margin-top: 30px;
    margin-bottom: 100px;
}

/* .showdiv .flow-pic{
    display: flex;
    justify-content: space-around;
    padding: 35px 0;
} */

/* .showdiv{
    height: 438px;
    width: 100%;
    margin: 57px 0;
    padding: 0 10px;

}

.showdiv .flow-pic{
    padding: 0 10px;  
    position: relative;
    display: flex;
    height: 324px;
    background-color: #f1f0ea;
    overflow: hidden;

}
.showdiv .flow-pic ul{
    display: flex;
    height: 250px;
    animation: showdiv-run 5s steps(4) infinite;
}
.showdiv .flow-pic ul li{
    height: 230px;
    margin: 47px 0 47px 37px;
}

@keyframes showdiv-run{
    0%{
        transform: translate(0);
    }
    100%{
        transform: translate(-1979px);
    }
}


.showdiv .flow-pic .left,
.showdiv .flow-pic .right
{
    width: 458px;
    height: 231px;
}

.showdiv .flow-pic img{
    width: 458px;
    height: 185px;
}

.showdiv .flow-pic .button {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 142px;
    height: 28px;
    background-color: rgb(0, 88, 28);
    right: 20px;
    bottom: -14px;

}
.showdiv .flow-pic .button .iconfont{
    color: white;
    padding: auto 6px;
}

.showdiv .flow-pic .button .left,
.showdiv .flow-pic .button .right{
    width: 43px;
    height: 28px;
}
.showdiv .flow-pic .button .left,
.showdiv .flow-pic .button .right
{
    padding: 0 0 0 18px;
}
.showdiv .flow-pic .button .txt{
    color: white;
}
 */
.showdiv{
    height: 438px;
    width: 100%;
    margin: 57px 0;
    /* padding: 0 10px; */
}

.showdiv .flow-pic{
    /* padding: 0 10px;   */
    position: relative;
    display: flex;
    height: 324px;
    background-color: #f1f0ea;
}
.showdiv .flow-pic .view{
    overflow: hidden;
    width: 950px;
    margin: 10px auto;
}

.showdiv .flow-pic ul{
    display: flex;
    height: 250px;
    /* animation: showdiv-run 3s steps(5) infinite; */
    transition: transform 0.8s ease-in-out;
}

.showdiv .flow-pic ul li{
    flex-shrink: 0; 
    width: 458px; 
    height: 230px;
    margin: 47px 46px 47px 0px;
}

/* @keyframes showdiv-run{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-2520px);
    }
} */

.showdiv .flow-pic .button {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 142px;
    height: 28px;
    background-color: rgb(0, 88, 28);
    right: 20px;
    bottom: -14px;
}

.showdiv .flow-pic .button .iconfont{
    color: white;
    padding: auto 6px;
}

.showdiv .flow-pic .button .left,
.showdiv .flow-pic .button .right{
    width: 43px;
    height: 28px;
    cursor: pointer;
}

.showdiv .flow-pic .button .left,
.showdiv .flow-pic .button .right{
    padding: 0 0 0 18px;
}

.showdiv .flow-pic .button .txt{
    color: white;
}

/* 添加图片样式确保一致 */
.showdiv .flow-pic img{
    width: 458px;
    height: 185px;
    object-fit: cover; /* 确保图片比例正确 */
}


.data-bgc{
    position: relative;
    height: 908px;
    /* width: 100%; */
    background-image: url(/School_Web/img/data-bgc.png);
}
.data-head{
    width: 1028px;
    height: 335px;
    /* position: absolute; */
    top: 0;
    margin: 0 auto;
}
.data-head h3{
    color: #fff;
    font-size:34px ;
    font-family: '微软雅黑','黑体';
    padding: 21px 0 0;
    margin: 0 0 35px;
}

.data-head ul {
    display: flex;
    width: 1028px;
    flex-wrap: wrap;
}

.data-head ul li{
    width: 257px;
    height: 79px;
    margin: 0 0 28px;

}
.data-head ul li span{
    color: #fff;
    font-size: 50px;
    margin: 0 0 11px;
}
.data-head ul li p{
    color: #fff;
    font-size: 11px;
    font-family: "微软雅黑","黑体";
}
 /* .data-view{
    display: flex;
    position: relative;
}
 .data-view .title{
    width: 774px;
    height: 45px;
    color: #fff;
    font-size: 34px;
    margin: 0 0 25px;
}

.data-bgc .wp{
    position: relative;
    width: 674px;
    height: 572px;
    left: 0;
    bottom: 0;
    background-color: #ffffffa8;
}
.data-bgc .data-bd{
    position: absolute;
    width: 1347px;
    height: 388px;
    padding: 21px 21px 21px 0;
    bottom: 80px;
    left: 50%; 
    transform: translateX(-50%);
}

.data-bd ul{
    display: flex;
    padding: 21px 21px 21px 0;
    justify-content: space-between;
}
.data-bd ul li{
    padding: 0 0 0 21px;
}
.data-bd ul li:first-child{
    transform: scale(1.22);
}

.data-bd ul img{
    width: 378px;
    height: 235px;

}
.data-bd ul li h4{
    color: #333;
    font-size:  14px;
    font-family: "微软雅黑","黑体";
    margin: 0 0 7px;

}
.data-bd ul li .mask{
    color: #333;
    background-color: #fff;
    padding: 12px 14px;

}
.data-bd ul li p{
    color: #005826;
    font-size: 11.5px;

}
.data-view .wp .button{
    display: flex;
    position: absolute;
    right: -50px;
    bottom: 40px;
}
.data-view .wp .button .left,
.data-view .wp .button .right
{
    width: 50px;
    height: 42px;
    font-size: 18px;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
}
.data-view .wp .button .left{
    background-color: #ECC474;
    color: #fff;
}

.data-view .wp .button .right{
    background-color: #fff;
    color: black;
} */



/* 需要修改的样式 */
/* 需要修改的样式 */
.data-view{
    display: flex;
    position: relative;
    overflow: hidden;
}

.data-view .title{
    width: 774px;
    height: 45px;
    color: #fff;
    font-size: 34px;
    margin: 0 0 25px;
}

.data-bgc .wp{
    position: relative;
    width: 674px;
    height: 572px;
    left: 0;
    bottom: 0;
    background-color: #ffffffa8;
}

.data-bgc .data-bd{
    position: absolute;
    width: 1347px;
    height: 388px;
    padding: 21px 21px 21px 0;
    bottom: 80px;
    left: 50%; 
    transform: translateX(-50%);
    overflow: hidden;
}

.data-bd ul{
    display: flex;
    padding: 21px 21px 21px 0;
    justify-content: flex-start;
    transition: transform 0.6s ease-in-out;
    width: max-content;
}

/* 修改：仅使用右间距控制间隙，去除左间距避免对齐偏差 */
.data-bd ul li{
    margin-right: 30px;
    margin-left: 37px;

    transition: all 0.6s ease-in-out;
    flex-shrink: 0;
}

/* 修改：移除最后一个li的右边距 */
.data-bd ul li:last-child {
    margin-right: 0;
}

.data-bd ul li.active {
    transform: scale(1.22);
    transform-origin: center center;
}

.data-bd ul img{
    width: 378px;
    height: 235px;
    object-fit: cover;
}

.data-bd ul li h4{
    color: #333;
    font-size:  14px;
    font-family: "微软雅黑","黑体";
    margin: 0 0 7px;
}

.data-bd ul li .mask{
    color: #333;
    background-color: #fff;
    padding: 12px 14px;
}

.data-bd ul li p{
    color: #005826;
    font-size: 11.5px;
}

.data-view .wp .button{
    display: flex;
    position: absolute;
    right: -50px;
    bottom: 40px;
}

.data-view .wp .button .left,
.data-view .wp .button .right
{
    width: 50px;
    height: 42px;
    font-size: 18px;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.data-view .wp .button .left{
    background-color: #ECC474;
    color: #fff;
}

.data-view .wp .button .left:hover {
    background-color: #d4a95f;
}

.data-view .wp .button .right{
    background-color: #fff;
    color: black;
}

.data-view .wp .button .right:hover {
    background-color: #f5f5f5;
}

/* 常驻放大由JS控制active类，无需悬停态覆盖 */



.study-shadow{
    height:556px ;
    background-color: #f3f3f3;
    padding: 57px 0;
}

.study-shadow .title{
    /* margin: 0 0 36px; */
    display: flex;
    justify-content: space-between;
    height: 45px;
    margin-bottom: 36px;
}
.study-shadow .title  h3{
    color: #005826;
    font-size: 34px;
}
.study-shadow .title .right {
    width: 68px;
    height: 45px;
}
.study-shadow .title .right a{
    height: 18px;
    font-size: 11.5px;
    line-height: 45px;
    color: #888;

    
}
.study-shadow .title .right i{
    font-size: 9px;
    line-height: 16px;
}



.study-shadow .bd{
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}
.study-shadow .bd .left {
    position: relative;
    width: 576px;
    height: 100%;
}

.study-main-image-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.study-shadow .bd .left img,
#study-main-image {
    width: 100%;
    height: 406px;
    object-fit: cover;
    display: block;
    transition: opacity 0.3s ease;
}

/* 标题覆盖层样式 */
.study-main-title-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6), transparent);
    padding: 20px 15px;
}

.study-main-title-overlay h3 {
    color: #fff;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.5;
    margin: 0;
    text-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}
.study-shadow .bd .right {
    width: 432px;
    display: flex;
    flex-direction: column;
}
.study-shadow .bd .right ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.study-shadow .bd .right li{
    position: relative;
    display: flex;
    width: 420px;
    background-color: #fff;
    padding: 9px 7px;
    cursor: pointer;
    transition: all 0.3s ease;
}

/* 三角形箭头 - 默认隐藏 */
.study-shadow .bd .right li::before {
  content: "";
  position: absolute;
  left: -10px;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-right: 6.4px solid #005826;
  opacity: 0;
  transition: opacity 0.3s ease;
}

/* 悬停时显示三角形箭头 */
.study-shadow .bd .right li:hover::before,
.study-shadow .bd .right li.active::before {
  opacity: 1;
}

/* 悬停状态：背景绿色、文字白色 */
.study-shadow .bd .right li:hover {
  background-color: #005826;
}

/* 激活状态：背景绿色、文字白色、阴影 */
.study-shadow .bd .right li.active {
  background-color: #005826;
  box-shadow: 3px 35px 77px -8px rgb(0 0 0 / 90%);
}

.study-shadow .bd .right li:hover .txt,
.study-shadow .bd .right li.active .txt {
  color: #fff;
}

.study-shadow .bd .right li:hover .txt .study-date,
.study-shadow .bd .right li:hover .txt h4,
.study-shadow .bd .right li.active .txt .study-date,
.study-shadow .bd .right li.active .txt h4 {
  color: #fff;
}

.study-shadow .bd .right img{
    width: 162px;
    height: 101px;
    object-fit: cover;
    flex-shrink: 0;
}

.study-shadow .bd .right li .txt{
    width: 255px;
    height: 101px;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.study-shadow .bd .right li .txt .study-date {
    font-size: 11.5px;
    color: #005826;
    margin-bottom: 8px;
    transition: color 0.3s ease;
}

.study-shadow .bd .right li .txt h4 {
    font-size: 14px;
    color: #333;
    line-height: 1.4;
    font-weight: normal;
    margin: 0;
    transition: color 0.3s ease;
}

.radio-shadow{
    height: 614px;
    margin:  62px 0 0;
    padding: 28px 0 21px;
    /* line-height: 0; */
}
.radio-shadow .top {
    display: flex;
    width: 1028px;
    height: 336px;
    margin-bottom: 0; /* 强制清除底部间距 */
    padding-bottom: 0;

}
.radio-shadow .top .left{
      display: flex;
    flex-direction: column; /* 主轴改为垂直方向 */
    justify-content: space-between; /* 垂直方向均匀分布 */
    width: 343px;
    height: 332px;
}
.radio-shadow .top .right{
    flex: 1;
    
}
.radio-shadow .top .right img{
    width: 685px;
    height: 332px;
}

.radio-shadow .top .left h3{
    color: #005826;
    font-size: 34px;

}
.radio-shadow .top .left .txt a{
    color: #005826;
    font-size: 15px;
}

.radio-shadow .top .left .logo{
    width: 343px;
    height: 207px;
    /* margin: 50px 0 0 ; */
    padding: 43px 21px 0;
    background-color: #f3f3f3;
}

.radio-shadow .top .left .logo ul{
    display: flex;
}

.radio-shadow .top .left .logo li {
    display: flex;
    width: 64px;
    height: 64px;
    border-radius: 50%;
    margin: 0 6px;
}

.radio-shadow .top .left .logo li:first-child{
    background-color: #28c445;
}
.radio-shadow .top .left .logo li:nth-child(2){
    background-color: #c83f39;
}
.radio-shadow .top .left .logo li:nth-child(3){
    background-color: #ffb667;

}
.radio-shadow .top .left .logo span{
width: 22px;
height: 22px;  
margin:  auto;
}
.radio-shadow .top .logo .logo-pic .iconfont{
    font-size: 22px;    
    color: white;
}
.radio-shadow .top a{
    line-height: 0;
}

.radio-shadow .bottom{
    height: 232px;

}
.radio-shadow .bottom ul {
    display: flex;
    height: 234px;

}
.radio-shadow .bottom ul li img{
    height: 234px;    
    width: 343px;

}


/* .email-shadow{
    height: 263px;
    padding: 53px;
}
.email-shadow .left{
    width: 203px;
    height: 156px;
    background-image: url(../img/eail-logo-bgi.png);
    
} */
 .email-shadow {
    height: 263px;
    padding: 53px;
    display: flex; 
    justify-content: space-between;
}

.email-shadow .left {
    width: 203px;
    height: 182px;
    background-image: url(../img/eail-logo-bgi.png);
    background-size: cover; /* 可选：确保背景图铺满容器 */
    text-align: center;
    margin-right: 30px;
}
.email-shadow .left .logo{
    width: 203px;
    height: 124px;
    padding: 14px 0px;

}
.email-shadow .left .logo img{
    padding: 15px auto;
    margin: 20px 0 ;
}
.email-shadow .left .logo a{
    font-size: 16px;
    color: white;
    margin-top: 20px;
}

.email-shadow .left .invite{
    position: relative;
    width: 203px;
    height: 31px;
    text-align: center; /* 文字水平居中 */
    /* padding: 0 20px;  */
}
.email-shadow .left .invite span{
    height: 18px;
    font-size: 12px;
    color: #fff;
    padding: -10px 0 32px 0;

}

.email-shadow .left .invite::before {
  content: "";
  position: absolute;
  left: 0; /* 从容器左侧开始 */
  top: 50%; /* 垂直居中 */
  transform: translateY(-50%); /* 精准对齐中线 */
  width: 30%; /* 横线长度（根据需要调整） */
  height: 1px; /* 横线粗细 */
  background-color: #fff; /* 横线颜色（用background-color，不是color） */
}

/* 右侧横线（统一用绝对定位，避免混合flex） */
.email-shadow .left .invite::after {
  content: "";
  position: absolute;
  right: 0; /* 从容器右侧开始 */
  top: 50%; /* 垂直居中 */
  transform: translateY(-50%); /* 精准对齐中线 */
  width: 30%; /* 与左侧横线对称 */
  height: 1px; /* 横线粗细 */
  background-color: #fff; /* 横线颜色 */
}



.email-shadow .right{
    width: 782px;
    height: 183px;
    margin: 0 0 0 40px;
    padding-left: 20px;
    border-left: #f1f0ea solid 1px;
}
.email-shadow .right .a-items h4{
width: 62px;
height: 32px;
    
}
.email-shadow .right .a-items ul{
    display: flex;
    flex-wrap: wrap;
    width: 746px;
    height: 66px;
}
.email-shadow .right .a-items ul li
{
    width: 150px;
    height: 38px;
}
.email-shadow .right .a-items ul li a{
    width: 104px;
    height: 25px;
    border-bottom: 1px solid #f3f3f3;
}
.email-shadow .right h4{
    font-size: 15px;
    margin: 0 0 11px;
    font-family: "微软雅黑";
    color: #333;

}
.email-shadow .right .notice{
    display: flex;
}
.email-shadow .right .notice a{
    padding: 0 14px;
    color: #333;
}
.email-shadow .right h4::after{
    content: "";
  display: block; /* 让下划线单独成行 */
  width:100%; /* 下划线宽度（根据设计调整，如与文字等宽可设为100%） */
  height: 2px; /* 下划线粗细 */
  background-color: #005826; /* 绿色，与设计一致 */
  margin: 11px 0 0; /* 与标题的间距（上间距11px） */

}

.footer{
    height: 165px;
    background-image: url(../img/footer.png);
    background-size: cover;
}
.footer .wp .shallow{
    height: 122px;

}
